.container {
    position: relative;
  }
  
  .text-overlay {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    color: white;
    max-width: 200px;
  }
  
  .text-overlay h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .text-overlay p {
    font-size: 18px;
  }
  section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 in in !important;
    overflow: hidden;
}

.slider-content{
    width: 400%;
    height: auto;
    display: flex;

}

.slider-content input, .img-mobile{
    display: none;
}

.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: left;
    transition: 1s;
}

.slide-box img{
    width: 100%;
}

.nav-manual, .nav-auto{
    position: fixed;
    width: 100%;
    margin-top: 40%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid black;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}

.nav-manual .manual-btn:hover{
    background-color: black;

}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2,#radio3:checked ~ .nav-auto .auto-btn3 {
    background-color: black;
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
}

#radio2:checked ~ .primeiro{
    margin-left: -25%;
}

#radio3:checked ~ .primeiro{
    margin-left: -50%;
}

@media screen and (max-width: 900px) {
    .img-desktop{
        display:none;
    }
    .img-mobile{
        display:block;
    }

    .nav-auto, .nav-manual{
        margin-top: 60%;
    }
}
