<!DOCTYPE html>
<head>
    <title>Carrossel de Imagens Responsivas</title>
    <link rel="stylesheet" type ="text/css" href="../static/css/slide.css">
    <link rel="stylesheet" type ="text/css" href="../static/css/style.css">
    <script src="../static/js/slide.js" defer></script>
    <nav>
        <a href="/profile">Perfil</a>
        <a href="/upload">Upload</a>
        <a href="/gallery">Galeria</a>  
    </nav>
</head>
<body>
    
<section class="slider">
    <div class="slider-content">
        <input type="radio" name="btn-radio" id="radio1">
        <input type="radio" name="btn-radio" id="radio2">
        <input type="radio" name="btn-radio" id="radio3">
        <div class="slide-box primeiro">
            <div class ="text-overlay">
                <h1>Titulo 1</h1>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi numquam beatae in, vero hic accusamus sit quas ullam, porro voluptatum quasi laudantium qui molestias temporibus quae, fuga placeat maxime architecto.</p>
            </div>
            <img class="img-desktop" src="../static/imagens/img1.jpg" alt="slide 1">
            <img class="img-mobile" src="../static/imagens/img1-mob.jpg" alt="slide 1 mobile">
        </div>
        <div class="slide-box">
            <div class ="text-overlay">
                <h1>Titulo 2</h1>
                <p> Descrição 2</p>
            </div>
            <img class="img-desktop" src="../static/imagens/img2.jpg" alt="slide 2">
            <img class="img-mobile" src="../static/imagens/img2-mob.jpg" alt="slide 2 mobile">
        </div>
        <div class="slide-box">
            <div class ="text-overlay">
                <h1>Titulo 3</h1>
                <p> Descrição 3</p>
            </div>
            <img class="img-desktop" src="../static/imagens/img3.jpg" alt="slide 3">
            <img class="img-mobile" src="../static/imagens/img3-mob.jpg" alt="slide 3 mobile">
        </div>
        <div class="nav-auto">
            <div class="auto-btn1"></div>
            <div class="auto-btn2"></div>
            <div class="auto-btn3"></div>
        </div>
        <div class="nav-manual">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
            <label for="radio3" class="manual-btn"></label>
        </div>
        
    </div> 
</section>
</body>
</html>