<!DOCTYPE html>
<html>
<head><!DOCTYPE html>
  <head>
      <title>Carrossel de Imagens Responsivas</title>
      <link rel="stylesheet" type ="text/css" href="../static/css/slide.css">
      <link rel="stylesheet" type ="text/css" href="../static/css/style.css">
      <script src="../static/js/slide.js" defer></script>
      <nav>
          <a href="/profile">Perfil</a>
          <a href="/upload">Upload</a>
          <a href="/gallery">Galeria</a>  
      </nav>
  </head>
  <body>
  <title>Upload de Imagens</title>
  <h2>Upload de Imagens</h2>
  <form action="/result" method="POST" enctype="multipart/form-data">
    <input type="file" class="custom-file-input" name="imagem" id="imagem" multiple><br>
    <label class = "custom-file-label" for ="image"></label>
    <input type="submit" value="Enviar">
  </form>
</body>
</html>
